.about_us {
  display: flex;
  flex-direction: row;

  @include respond(tab-port) {
    flex-direction: column;
  }
  @include respond(phone-L) {
    flex-direction: column;
  }

  &__image {
    width: 50%;
    object-fit: fill;

    @include respond(laptop-M) {
      width: 50%;
    }

    @include respond(tab-port) {
      width: 100%;
    }
  }

  &__text_container {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: $color-primary;
    color: $color-text-light;

    @include respond(laptop-M) {
      width: 50%;
    }

    @include respond(tab-port) {
      width: 100%;
    }
  }

  &__title {
    margin-left: 10rem;
  }

  &__text {
    margin: 13rem;

    @include respond(phone-L) {
      margin: 6rem;
    }

    h1 {
      padding-bottom: 2rem;
      font-weight: 400;
    }
  }
}
