.about-us {
  display: flex;
  background-color: $color-primary;
  height: 110vh;
  position: relative;

  @include respond(tab-port) {
    flex-direction: column;
  }

  &__image-container {
    width: 50vw;
    height: 110vh;
    position: relative;

    @include respond(tab-port) {
      width: 100vw;
      height: 60vh;
    }

    &--image {
      width: 100%;
      height: 100%;
      position: relative;

      span > img {
        object-fit: cover;
      }
    }

    .image-overlay {
      display: none;
      @include respond(tab-port) {
        position: absolute;
        display: flex;
        left: 0;
        top: 0;
        height: stretch;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: rgba(15, 15, 15, 0.2);
      }

      h1 {
        font-weight: 400;
        font-size: 6.4rem;
      }
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    color: $color-text-light;
    top: 6.5rem;
    height: auto;

    @include respond(tab-port) {
      width: 100%;
      top: 0rem;
    }

    &--text {
      margin: 5rem 10%;
      font-weight: 300;

      h1 {
        padding-bottom: 2rem;
        font-weight: 400;
        @include respond(tab-port) {
          display: none;
        }
      }
    }
  }
}
