.embla {
  overflow: hidden;

  &__container {
    display: flex;
  }

  &__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    height: 100vh;
    
    span > img {
      object-fit: cover;
      object-Position: '100% -50%';
    }
  }
}
