.index-about-us {
  display: flex;
  align-content: stretch;
  background-color: $color-primary;
  height: fit-content;
  position: relative;
  margin-bottom: 6rem;

  @include respond(tab-port) {
    flex-direction: column;
  }

  &__image-container {
    width: 50vw;
    height: 45rem;
    position: relative;

    @include respond(tab-port) {
      width: 100vw;
      height: 100%;
    }

    &--image {
      width: 100%;
      height: 45rem;
      position: relative;

      span > img {
        object-fit: cover;
      }
    }

    .image-overlay {
      display: none;
      @include respond(tab-port) {
        position: absolute;
        display: flex;
        left: 0;
        top: 0;
        height: fill;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: rgba(15, 15, 15, 0.2);
      }

      h1 {
        font-weight: 300;
        font-size: 5.4rem;
      }
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    color: $color-text-light;

    @include respond(tab-port) {
      width: 100%;
      background-color: $color-primary;
      padding: 5rem 10%;
      align-items: center;
    }

    &--text {
      margin: 0 10%;
      font-weight: 300;
      font-size: 1.5rem;
      @include respond(tab-port) {
        font-size: 1.7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      h1 {
        padding-bottom: 2rem;
        font-weight: 300;
        font-size: 3.7rem;
        @include respond(tab-port) {
          display: none;
        }
      }

      .btn {
        width: max-content;
        padding: 1.2rem 3.2rem;
        background-color: rgba(15, 15, 15, 0.349);
        border: 1px solid $color-text-light;
        color: $color-text-light;
        font-size: 1.5rem;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
        cursor: pointer;
        margin-top: 4rem;
        @include respond(tab-port) {
         margin-bottom: 5rem;
        }

        &:hover {
          background-color: transparent;
          transition: all 0.2s;
        }
      }
    }
  }
}
