.grid-container {
  display: flex;
  justify-content: center;
  width: 100%;

  a {
    color: inherit;
  }

  .index-grid {
    display: grid;
    height: 100%;
    margin: 10rem 0;
    grid-template-areas:
      'a b c'
      'd b e';
    grid-template-rows: repeat(2, 20.7rem);
    grid-template-columns: repeat(3, 28.9rem);
    gap: 6.5rem 5.4rem;
    justify-content: center;
    @include respond(tab-port) {
      grid-template-areas:
        'a'
        'd'
        'b'
        'c'
        'e';
      grid-template-rows: max-content;
      grid-template-columns: 50vw;
    }
    @include respond(phone-L) {
      grid-template-columns: 70vw;
    }

    // =========== Kontakt ===========

    .kontakt {
      position: relative;
      grid-area: a;

      &__content {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgba($color-primary, 0.233);
        top: 0;
        width: 100%;
        height: 100%;

        & p {
          text-align: center;
          color: $color-text-light;
          font-weight: 300;
        }
        .btn {
          padding: 1.2rem 2.2rem;
          background-color: rgba(15, 15, 15, 0.349);
          border: 2px solid $color-text-light;
          color: $color-text-light;
          font-size: 1.5rem;
          font-weight: 300;
          font-family: 'Open Sans', sans-serif;
          cursor: pointer;

          &:hover {
            background-color: transparent;
            transition: all 0.2s;
          }
        }
      }
    }

    // =========== Aurora ===========

    .aurora {
      position: relative;
      grid-area: b;
      cursor: pointer;

      &__content {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-start;
        top: 0;
        width: 100%;
        height: 100%;
        padding-left: 7%;
        padding-bottom: 5%;

        &--top-text {
          border-bottom: 1px solid $color-text-light;
          font-size: 1.5rem;
          font-weight: 300;
          text-transform: uppercase;
          letter-spacing: 3px;
        }

        &--bot-text {
          font-weight: 400;
          font-size: 2rem;
        }
      }
    }

    // =========== Ystad ===========

    .ystad {
      position: relative;
      grid-area: c;
      cursor: pointer;
      
      &__content {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-start;
        top: 0;
        width: 100%;
        height: 100%;
        padding-left: 7%;
        padding-bottom: 6%;

        &--top-text {
          border-bottom: 1px solid $color-text-light;
          font-size: 1.5rem;
          font-weight: 300;
          text-transform: uppercase;
          letter-spacing: 3px;
        }
      }
    }

    // =========== Malmö ===========

    .malmo {
      position: relative;
      grid-area: d;
      cursor: pointer;

      &__content {
        position: absolute;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: flex-start;
        top: 0;
        width: 100%;
        height: 100%;
        padding-left: 7%;
        padding-bottom: 6%;

        &--top-text {
          border-bottom: 1px solid $color-text-light;
          font-size: 1.5rem;
          font-weight: 300;
          text-transform: uppercase;
          letter-spacing: 3px;
        }
      }
    }

    // =========== Fastigheter ===========

    .fastigheter {
      position: relative;
      background-color: $color-primary;
      grid-area: e;
      @include respond(tab-port) {
        height: 35.9vw;
      }
      @include respond(phone-L) {
        height: 50.1vw;
      }

      &__content {
        position: absolute;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;

        & p {
          text-align: center;
          color: $color-text-light;
          font-weight: 300;
        }
        .btn {
          padding: 1.2rem 2.2rem;
          background-color: rgba(15, 15, 15, 0.349);
          border: 2px solid $color-text-light;
          color: $color-text-light;
          font-size: 1.5rem;
          font-weight: 300;
          font-family: 'Open Sans', sans-serif;
          cursor: pointer;

          &:hover {
            background-color: transparent;
            transition: all 0.2s;
          }
        }
      }
    }
  }
}
