/* .embla {
    overflow: hidden;

    &__container {
        display: flex;
    }

    &__slide {
        position: relative;
        flex: 0 0 100%;
    }
} */

.embla {
  position: relative;
  background-color: #f7f7f7;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  flex: 0 0 100%;

  @include respond(tab-port) {
    max-width: 100%;
  }

  &__viewport {
    width: 100%;
  }

  &__viewport.is-draggable {
    cursor: move;
    cursor: grab;
  }

  &__viewport.is-dragging {
    cursor: grabbing;
  }

  &__container {
    display: flex;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
    margin-left: -1rem;
  }

  &__slide {
    position: relative;
    min-width: 100%;
    padding-left: 10px;
  }

  &__slide__inner {
    position: relative;
    overflow: hidden;
    height: 19rem;
  }

  &__slide__img {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    transform: translate(-50%, -50%);
  }

  &__button {
    outline: 0;
    cursor: pointer;
    background-color: transparent;
    touch-action: manipulation;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    fill: #1bcacd;
    padding: 0;

  
  }

  &__button:disabled {
    cursor: default;
    opacity: 0.3;
  }

  &__button__svg {
    width: 100%;
    height: 100%;
  }

  &__button--prev {
    left: 2rem;

    @include respond(tab-port) {
      left: 1rem;
    }
  }

  &__button--next {
    right: 2rem;

    @include respond(tab-port) {
      right: 1rem;
    }
  }

  &__dots {
    display: flex;
    list-style: none;
    justify-content: center;
  }

  &__dot {
    background-color: transparent;
    cursor: pointer;
    position: relative;
    padding: 0;
    outline: 0;
    border: 0;
    width: 3rem;
    height: 3rem;
    margin-right: 7.5px;
    margin-left: 7.5px;
    display: flex;
    align-items: center;
  }

  &__dot:after {
    background-color: #efefef;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    content: '';
  }

  &__dot.is-selected:after {
    background-color: #1bcacd;
    opacity: 1;
  }
}
