/* The Modal (background) */
.modal {
  position: relative;
  background: white;
  width: 80%;
  height: 500px;
  margin: 0 auto;
  margin-top: 80px;
  border-radius: 3px;
  box-shadow: 3px 0 15px 0 black;

  /* Modal Content/Box */
  &__content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
}
