*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* Set border box to be inherited */
}

html {
  font-size: 62.5%;
  /* allows user to zom in on page (change font size) px won't work*/
}
@media only screen and (min-width: 187.5em) {
  html {
    font-size: 112.5%;
  }
}
@media only screen and (max-width: 187.5em) {
  html {
    font-size: 100%;
  }
}
@media only screen and (max-width: 162.5em) {
  html {
    font-size: 87.5%;
  }
}
@media only screen and (max-width: 125em) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-display: swap;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #707070;
}

.hero-section__image-container {
  width: 100%;
  height: 90vh;
}
.hero-section__image-container--image {
  position: relative;
  height: 100%;
  width: 100%;
}
.hero-section__image-container--image span > img {
  object-fit: cover;
}
.hero-section__text {
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  width: 30rem;
  height: 30rem;
  top: 20%;
  left: 15%;
  z-index: 1;
}
@media only screen and (max-width: 56.25em) {
  .hero-section__text {
    top: 8%;
    left: 5%;
  }
}
.hero-section__text h1 {
  color: #00474c;
  width: 20rem;
  margin-top: 5rem;
  font-weight: 400;
  text-align: center;
}

.mob-nav-bg {
  display: none;
}
@media only screen and (max-width: 56.25em) {
  .mob-nav-bg {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.35);
  }
}
.mob-nav-bg .mob-nav {
  display: none;
}
@media only screen and (max-width: 56.25em) {
  .mob-nav-bg .mob-nav {
    display: flex;
    width: 100%;
    height: auto;
    background-color: #00474c;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 6.5rem;
    z-index: 500;
  }
}
.mob-nav-bg .mob-nav__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.mob-nav-bg .mob-nav__links--link {
  width: 100%;
}
.mob-nav-bg .mob-nav__links--link:hover {
  background-color: #006168;
}
.mob-nav-bg .mob-nav__links--a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 300;
  color: #ffffff;
  width: 100%;
  height: calc(100% - 0.7rem);
  padding: 2.5rem 0;
}
.mob-nav-bg .mob-nav__links--a:hover {
  color: #002f33;
}
.mob-nav-bg .mob-nav__links .image-container {
  background-color: #002f33;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
.mob-nav-bg .mob-nav__links .image-container--image {
  display: flex;
  align-self: center;
  width: 4.46rem;
  height: 3.93rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 6%;
  height: 6.5rem;
  background-color: #00474c;
  position: fixed;
  width: 100%;
  z-index: 500;
}
.navbar__burger {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media only screen and (max-width: 56.25em) {
  .navbar__burger {
    display: inline-block;
    align-self: center;
    margin-top: 8px;
  }
}
.navbar__burger span {
  align-items: center;
  display: block;
  width: 25px;
  height: 10px;
  border-top: 2px solid #eee;
}
.navbar__image a {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 100%;
  cursor: pointer;
}
.navbar__links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 35%;
}
.navbar__links .active {
  border-bottom: 2px solid #fff;
}
@media only screen and (max-width: 56.25em) {
  .navbar__links {
    display: none;
  }
}
.navbar__links--link {
  display: flex;
  align-items: center;
  width: auto;
  height: 100%;
  text-align: center;
}
.navbar__links--link:hover {
  background-color: #006168;
  color: #002f33;
}
.navbar__links--a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 300;
  color: #ffffff;
  width: 100%;
  height: calc(100% - 0.7rem);
  padding: 0 1rem;
  padding-bottom: 0rem;
  white-space: nowrap;
}
.navbar__links--a:active {
  border-bottom: 2px solid #fff;
}

/* .embla {
    overflow: hidden;

    &__container {
        display: flex;
    }

    &__slide {
        position: relative;
        flex: 0 0 100%;
    }
} */
.embla {
  position: relative;
  background-color: #f7f7f7;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  flex: 0 0 100%;
}
@media only screen and (max-width: 56.25em) {
  .embla {
    max-width: 100%;
  }
}
.embla__viewport {
  width: 100%;
}
.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}
.embla__viewport.is-dragging {
  cursor: grabbing;
}
.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -1rem;
}
.embla__slide {
  position: relative;
  min-width: 100%;
  padding-left: 10px;
}
.embla__slide__inner {
  position: relative;
  overflow: hidden;
  height: 19rem;
}
.embla__slide__img {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  transform: translate(-50%, -50%);
}
.embla__button {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: #1bcacd;
  padding: 0;
}
.embla__button:disabled {
  cursor: default;
  opacity: 0.3;
}
.embla__button__svg {
  width: 100%;
  height: 100%;
}
.embla__button--prev {
  left: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .embla__button--prev {
    left: 1rem;
  }
}
.embla__button--next {
  right: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .embla__button--next {
    right: 1rem;
  }
}
.embla__dots {
  display: flex;
  list-style: none;
  justify-content: center;
}
.embla__dot {
  background-color: transparent;
  cursor: pointer;
  position: relative;
  padding: 0;
  outline: 0;
  border: 0;
  width: 3rem;
  height: 3rem;
  margin-right: 7.5px;
  margin-left: 7.5px;
  display: flex;
  align-items: center;
}
.embla__dot:after {
  background-color: #efefef;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  content: "";
}
.embla__dot.is-selected:after {
  background-color: #1bcacd;
  opacity: 1;
}

.properties {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 56.25em) {
  .properties {
    width: 100%;
    margin-left: 0;
  }
}

.properties-cards {
  width: 100%;
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media only screen and (max-width: 56.25em) {
  .properties-cards {
    flex-direction: column;
    margin-top: 0;
  }
}
.properties-cards__image-slider {
  width: 50%;
  margin-left: 5rem;
}
@media only screen and (max-width: 56.25em) {
  .properties-cards__image-slider {
    width: 100%;
    margin-top: 5rem;
    margin-left: 0;
  }
}
.properties-cards__text {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 10rem;
  margin-left: 5rem;
}
@media only screen and (max-width: 56.25em) {
  .properties-cards__text {
    width: 100%;
    margin-right: 0;
  }
}
.properties-cards__text h2 {
  margin-bottom: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .properties-cards__text h2 {
    margin: 2rem;
  }
}
.properties-cards__text h3 {
  margin-top: 1rem;
  margin-bottom: 3rem;
  text-decoration: underline;
}
@media only screen and (max-width: 56.25em) {
  .properties-cards__text h3 {
    margin-top: 5rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
}
.properties-cards__text p {
  margin-right: 5rem;
}
@media only screen and (max-width: 56.25em) {
  .properties-cards__text p {
    margin: 2rem;
  }
}
.properties-cards__info {
  margin-top: 2rem;
}

/*# sourceMappingURL=style.css.map */
